KiwiSports/bin/
KiwiSports/gen/
KiwiSports_V1.0.2/KiwiSports/build/
KiwiSports_V1.2.0/KiwiSports/build/
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
longcheng_app/trunk/np_lib/build/
longcheng_app/trunk/app/build/
longcheng_app/trunk/pulltorefreshlibrary/build/
longcheng_app/longcheng_tv/app/build/
longcheng_app/longcheng_tv/pulltorefreshlibrary/build/
longcheng_app/testTv/app/build/
longcheng_app/testTv/pulltorefreshlibrary/build/
longcheng_app/longcheng_web/app/build/
longcheng_app/longcheng_web/build/
longcheng_app/trunk_V1.1.0/.idea
longcheng_app/trunk_V1.1.0/app/build/
longcheng_app/trunk_V1.1.0/pulltorefreshlibrary/build/
longcheng_app/trunk_V2.4.0/.idea
longcheng_app/trunk_V2.4.0/app/build/
longcheng_app/trunk_V2.4.0/pulltorefreshlibrary/build/
longcheng_app/trunk_V2.4.0/videouploader/build/
longcheng_app/trunk_V2.4.0/libsuperplayer/build/
longcheng_app/trunk_V3.1.0_upgrade/.idea
longcheng_app/trunk_V3.1.0_upgrade/app/build/
longcheng_app/trunk_V3.1.0_upgrade/pulltorefreshlibrary/build/
longcheng_app/trunk_V3.1.0_upgrade/videouploader/build/
longcheng_app/trunk_V3.1.0_upgrade/libsuperplayer/build/
