KiwiSports/bin/
KiwiSports/gen/
KiwiSports_V1.0.2/KiwiSports/build/
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
trunk_V1.1.0/np_lib/build/
trunk_V1.1.0/app/build/
trunk_V1.1.0/pulltorefreshlibrary/build/
trunk/np_lib/build/
trunk/app/build/
trunk/pulltorefreshlibrary/build/
longcheng_tv/app/build/
longcheng_tv/pulltorefreshlibrary/build/
testTv/app/build/
testTv/pulltorefreshlibrary/build/
longcheng_web/app/build/
longcheng_web/build/