<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longcheng.lifecareplanTv">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 可用网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- WIFI网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 屏幕保持唤醒 不锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 调整多媒体音量 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- ************************************************ SD卡权限 *********************************************** -->
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- sdcard操作允许 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取SD卡数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- ************************************************ SD卡权限 end *********************************************** -->


    <!-- ************************************************ 日历 *********************************************** -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- ************************************************ 日历 end *********************************************** -->


    <!-- ************************************************ 访问照相机 *********************************************** -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- ************************************************ 访问照相机 end *********************************************** -->


    <!-- ************************************************ 联系人 *********************************************** -->
    <!-- 读联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写联系人 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- ************************************************ 联系人 end *********************************************** -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="com.longcheng.lifecareplanTv.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity
            android:name="com.longcheng.lifecareplanTv.welcome.activity.WelcomePageActivity"
            android:banner="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.longcheng.lifecareplanTv.test.MainActivity" />
        <activity android:name="com.longcheng.lifecareplanTv.test.DetailsActivity" />
        <activity android:name="com.longcheng.lifecareplanTv.test.PlaybackActivity" />
        <activity android:name="com.longcheng.lifecareplanTv.test.BrowseErrorActivity" />

        <activity
            android:name="com.longcheng.lifecareplanTv.login.activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.longcheng.lifecareplanTv.home.menu.activity.MenuActivity" />
        <activity android:name="com.longcheng.lifecareplanTv.home.help.HelpActivity" />
        <activity android:name="com.longcheng.lifecareplanTv.home.dynamic.activity.DynamicActivity" />
        <activity android:name="com.longcheng.lifecareplanTv.home.vedio.activity.VediosActivity" />
        <activity android:name="com.longcheng.lifecareplanTv.home.vedio.activity.VediosPlayActivity" />
        <activity android:name="com.longcheng.lifecareplanTv.home.picture.activity.PictureActivity" />
        <activity android:name="com.longcheng.lifecareplanTv.home.set.SetActivity" />
        <activity android:name="com.longcheng.lifecareplanTv.home.set.AboutActivity" />
    </application>

</manifest>